In [2]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

df = iris = pd.read_csv('/home/MZ/Documents/CODE/THINKFUL/projects/kaggle/iris_wiki.csv', header=0)

In [4]:
print(df.columns)

Index(['Sepal length', 'Sepal width', 'Petal length', 'Petal width',
       'Species'],
      dtype='object')

In [5]:
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75

In [6]:
feature_names = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [7]:
train, test = df[df['is_train']==True], df[df['is_train']==False]

In [9]:
features = df.columns[:4]
print(features)

Index(['Sepal length', 'Sepal width', 'Petal length', 'Petal width'], dtype='object')

In [10]:
clf = RandomForestClassifier(n_jobs=2)

In [12]:
y, _ = pd.factorize(train['Species']) # Encode input values as an enumerated type or categorical variable
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

In [13]:
clf.fit(train[features], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [15]:
target_names = np.array(['I. setosa', 'I. versicolor', 'I. virginica'])

print(type(clf.predict(test[features])))

<class 'numpy.ndarray'>

In [16]:
preds = target_names[clf.predict(test[features])]

In [18]:
print(pd.crosstab(test['Species'], preds))

col_0          I. setosa  I. versicolor  I. virginica
Species
I. setosa             17              0             0
I. versicolor          0             15             1
I. virginica           0              0            11

In [19]:
rint(pd.crosstab(test['Species'], preds)['I. setosa'][0]

17

In [20]:
ct = pd.crosstab(test['Species'], preds)

In [21]:
ct

col_0          I. setosa  I. versicolor  I. virginica
Species
I. setosa             17              0             0
I. versicolor          0             15             1
I. virginica           0              0            11

In [28]:
total = 0
for i in list(ct):
    total += sum(list(ct[i]))

true_positives = 0
false_positives = 0
false_negatives = 0
true_negatives = 0

for i in zip(list(ct), range(len(ct))): 
    row = list(ct.ix[i[1]])
    column = list(ct[i[0]])
    tp = row[i[1]]
    true_positives  += tp
    false_negatives += sum(row)-tp
    false_positives += sum(column) - tp
    true_negatives = total - tp
    
true_positives, false_positives, false_negatives, true_negatives

(43, 1, 1, 33)

In [24]:
# https://en.m.wikipedia.org/wiki/F1_score

f1 = float(2*true_positives) / (2 * true_positives + false_positives + false_negatives)
f1

0.97727272727272729

In [25]:
precision = float(true_positives) / (true_positives + false_positives)
precision

0.97727272727272729

In [26]:
recall = float(true_positives) / (true_positives + false_negatives)
recall

0.97727272727272729